.container .box {
  margin-top: 15%;
}

.custom-form .container .box {
  margin-top: 10%;
}

p.title {
  margin-top: 30px;
}
.container .title:not(:last-child) {
  margin-bottom: 30px;
}
.full-height-center {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;       
}
.box {
  background-color: #ffffff; 
  padding: 2rem;             
  border-radius: 0.5rem;     
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

